.sec05{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width:100%;
    margin: 0;
    background-image: url("../assets/svg/Waves.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
     
}
.sec05 .fifth_container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    position: relative;
}
 
.sec05 .fifth_container .Growth_grid .G_title{
    color:black;
    font-size: 56px;
    font-weight:700 ;
    line-height: 61.6px;
    margin-bottom: 10px;
    position: absolute;
    top:-230px;
}
.sec05 .fifth_container .Growth_grid .G_text{
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    margin-top: -180px;
}
.sec05 .fifth_container .search_grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}
.sec05 .fifth_container .search_grid .search_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sec05 .fifth_container .search_grid .search_list nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: -30px;
}

.sec05 .fifth_container .search_grid .search_list nav ul li{
    display: flex;
    align-items: center;
    gap:10px;
    color:black;
    font-size: 20px;
}
button#Bib{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
   /* font-weight: 600; */
   line-height: 14.63px;
   color:black;
   gap:10px;
   box-shadow: 0px 0px 4px 0px #00000012,
               0px 4px 6px -1px #0000001A;
   

}
.sec05 .fifth_container .pictures {
    width: 80%;
    position: relative;  
}
 
.sec05 .fifth_container .pictures img {
    position: absolute;
}
[alt="Desktop1"]{ 
    top:-250px;
    left:70px;
}
[alt="Desktop2"]{ 
    top:-120px;
    left:150px;
}
[alt="Picture (4)"]{ 
    top:-30px;
    left:730px;
}
@media (max-width:500px) {
    .sec05 .fifth_container .Growth_grid .G_title{
        font-size: 30px;
    }
}